@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --dark-navy: #313e51;
  --grey-navy: #626c7f;
  --navy: #3b4d66;
  --purple: #a729f5;
  --green: #26d782;
  --red: #ee5454;
  --white: #ffffff;
  --light-grey: #f4f6fa;
  --light-bluish: #abc1e1;
}

/*
h1 {
  font-size: 14.4rem;
  font-weight: 500;
}

h2 {
  font-size: 6.4rem;
  font-weight: 700;
}

h3 {
  font-size: 6.4rem;
  font-weight: 400;
}

h4 {
  font-size: 3.6rem;
  font-weight: 500;
}

h5 {
  font-size: 2.8rem;
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 150%;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

main {
  padding: 10rem 0 5rem 0;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

main,
#light {
  background: url("../public/assets/images/pattern-background-desktop-light.svg");
  background-color: var(--light-grey);
}

main,
#dark {
  background: url("../public/assets/images/pattern-background-desktop-dark.svg");
  background-color: var(--dark-navy);
}

.container {
  width: 80%;
  max-width: 116rem;
  margin: 0 auto;
}

.main-heading {
  font-size: 6.4rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
}

.main-heading span {
  font-weight: 700;
}

#light .main-heading {
  color: var(--dark-navy);
}

#dark .main-heading {
  color: var(--white);
}

.description {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 400;
  color: var(--light-bluish);
}

#light .description {
  color: var(--grey-navy);
}

#dark .description {
  color: var(--white);
}

.theme-mood-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 8.5rem;
}

.sun {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 7rem;
  margin-top: 1.5rem;
}

#light .sun {
  background: url("../public/assets/images/icon-sun-dark.svg");
}

#dark .sun {
  background: url("../public/assets/images/icon-sun-light.svg");
}

.moon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0rem;
  margin-top: 1.5rem;
}

#light .moon {
  background: url("../public/assets/images/icon-moon-dark.svg");
}

#dark .moon {
  background: url("../public/assets/images/icon-moon-light.svg");
}

.heading-box {
  width: 50%;
}

.quiz-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.topics-box {
  width: 50%;
}

.topics-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.topic {
  width: 100%;
  font-size: 2.8rem;
  font-weight: 500;
  padding: 3.4rem 0 3.4rem 2rem;
  border-radius: 1rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 3.2rem;
}

#light .topic {
  background-color: var(--white);
  color: var(--dark-navy);
}

#dark .topic {
  background-color: var(--navy);
  color: var(--white);
}

.topic-icons {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.html-bg {
  background-color: #fff1e9;
}

.css-bg {
  background-color: #e0fdef;
}

.js-bg {
  background-color: #ebf0ff;
}

.acc-bg {
  background-color: #f6e7ff;
}

.question-container {
  width: 80%;
  max-width: 116rem;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.questions-topic {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.options {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.answers {
  font-size: 2.4rem;
  font-weight: 600;
}

#light .answers {
  color: var(--dark-navy);
}

#dark .answers {
  color: var(--white);
}

.option {
  width: 100%;
  font-size: 2.8rem;
  font-weight: 600;
  padding: 1.8rem 0 1.8rem 2rem;
  border: none;
  border-radius: 2.4rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 3.2rem;
}

#light .option {
  background-color: var(--white);
  color: var(--dark-navy);
}

#dark .option {
  background-color: var(--navy);
  color: var(--white);
}

.letters {
  background-color: var(--light-grey);
  color: var(--grey-navy);
  padding: 1.6rem 1.8rem 1.2rem 1.8rem;
  border-radius: 1rem;
}

.question-container {
  width: 100%;
}

.current-topic {
  color: var(--dark-navy);
  font-size: 2.8rem;
  font-weight: 500;
}

#light .current-topic {
  color: var(--dark-navy);
}

#dark .current-topic {
  color: var(--white);
}

.questions {
  width: 100%;
  display: flex;
  gap: 13rem;
}

.question-box {
  width: 50%;
}

.num-of-questions {
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 2.7rem;
}

#light .num-of-questions {
  color: var(--grey-navy);
}

#dark .num-of-questions {
  color: var(--white);
}

.question {
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 16.4rem;
}

#light .question {
  color: var(--dark-navy);
}

#dark .question {
  color: var(--white);
}

.btn {
  background-color: var(--purple);
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
  padding: 3.2rem;
  border: none;
  border-radius: 2.4rem;
  cursor: pointer;
}

#light .btn {
  color: var(--white);
}

#dark .btn {
  color: var(--white);
}

.btn-submit:hover {
  opacity: 0.5;
}

.answer {
  border: 0.3rem solid var(--purple);
}

.correct {
  border: 0.3rem solid var(--green);
}

.wrong {
  border: 0.3rem solid var(--red);
}

progress[value] {
  --color: blue; /* the progress color */
  --background: lightgrey; /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 200px;
  margin: 0 10px;
  border-radius: 10em;
  background: var(--white);
  width: 80%;
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--white);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--purple);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--purple);
}

.finish-container {
  width: 100%;
}

.finish-box {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#light .finish-topic-name {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--dark-navy);
}

#dark .finish-topic-name {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--white);
}

.finish-heading-box {
  width: 50%;
}

.finish-heading {
  font-size: 6.4rem;
  font-weight: 300;
}

.finish-heading-bold {
  font-weight: 500;
}

#light .finish-heading {
  color: var(--dark-navy);
}

#dark .finish-heading {
  color: var(--white);
}

.score-box {
  padding: 4.8rem;
  border-radius: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 3.2rem;
  width: 100%;
}

#light .score-box {
  background-color: var(--white);
  color: var(--dark-navy);
}

#dark .score-box {
  background-color: var(--navy);
  color: var(--white);
}

.score-container {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.points {
  font-size: 14.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.total-questions {
  font-size: 1.4rem;
  color: var(--grey-navy);
}

#light .total-questions {
  color: var(--dark-navy);
}

#dark .total-questions {
  color: var(--white);
}

.finish-title {
  font-size: 2.8rem;
  font-weight: 500;
}

.finish-topic {
  margin-bottom: 4rem;
}

.btn-finish {
  width: 100%;
}

.dark-mode-switch {
  position: relative;
}

.dark-mode-switch input {
  display: none;
}

.dark-mode-switch label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -6rem;
  width: 50px;
  height: 26px;
  background-color: var(--purple);
  border-radius: 13px;
}

.dark-mode-switch label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.dark-mode-switch input:checked + label {
  background-color: var(--purple);
}

.dark-mode-switch input:checked + label:after {
  transform: translateX(24px);
}

/* Tablet */
@media (max-width: 768px) {
  main {
    padding: 5.4rem 0 15rem 0;
    background-size: contain;
  }

  main,
  #light {
    background: url("../public/assets/images/pattern-background-tablet-light.svg");
    background-color: var(--light-grey);
  }

  main,
  #dark {
    background: url("../public/assets/images/pattern-background-tablet-dark.svg");
    background-color: var(--dark-navy);
  }

  .container {
    width: 90%;
  }

  .main-heading {
    font-size: 5.6rem;
    margin-bottom: 1.6rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .theme-mood-box {
    margin-bottom: 6.3rem;
  }

  .heading-box {
    width: 100%;
    margin-bottom: 6.4rem;
  }

  .quiz-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .topics-box {
    width: 100%;
  }

  .topic {
    width: 100%;
    font-size: 2.4rem;
    padding: 2.6rem 0 2.6rem 1.2rem;
  }

  .question-container {
    width: 90%;
  }

  .options {
    width: 100%;
  }

  .answers {
    font-size: 2rem;
  }

  .option {
    width: 100%;
    font-size: 2.4rem;
    padding: 1.2rem 0 1.2rem 1.2rem;
  }

  .question-container {
    width: 100%;
  }

  .current-topic {
    font-size: 2.4rem;
  }

  .questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .question-box {
    width: 100%;
    margin-bottom: 6.4rem;
  }

  .num-of-questions {
    font-size: 1.2rem;
  }

  .question {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .btn {
    font-size: 2rem;
  }

  .btn-submit:hover {
    opacity: 0.5;
  }

  .finish-container {
    width: 100%;
  }

  .finish-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  #light .finish-topic-name {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--dark-navy);
  }

  #dark .finish-topic-name {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--white);
  }

  .finish-heading-box {
    width: 100%;
  }

  .finish-heading {
    font-size: 6.4rem;
    font-weight: 300;

    margin-bottom: 6.4rem;
  }

  .finish-heading-bold {
    font-weight: 500;
  }

  #light .finish-heading {
    color: var(--dark-navy);
  }

  #dark .finish-heading {
    color: var(--white);
  }

  .score-box {
    padding: 4.8rem;
    border-radius: 2.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 3.2rem;
    width: 100%;
  }

  #light .score-box {
    background-color: var(--white);
    color: var(--dark-navy);
  }

  #dark .score-box {
    background-color: var(--navy);
    color: var(--white);
  }

  .score-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .points {
    font-size: 14.4rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
  }

  .total-questions {
    font-size: 1.4rem;
    color: var(--grey-navy);
  }

  #light .total-questions {
    color: var(--dark-navy);
  }

  #dark .total-questions {
    color: var(--white);
  }

  .finish-title {
    font-size: 2.8rem;
    font-weight: 500;
  }

  .finish-topic {
    margin-bottom: 4rem;
  }

  .btn-finish {
    width: 100%;
  }

  .dark-mode-switch {
    position: relative;
  }

  .dark-mode-switch input {
    display: none;
  }

  .dark-mode-switch label {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -6rem;
    width: 50px;
    height: 26px;
    background-color: var(--purple);
    border-radius: 13px;
  }

  .dark-mode-switch label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
  }

  .dark-mode-switch input:checked + label {
    background-color: var(--purple);
  }

  .dark-mode-switch input:checked + label:after {
    transform: translateX(24px);
  }
}

/* Mobile */
@media (max-width: 425px) {
  main {
    padding: 1.6rem 0 15rem 0;
  }

  main,
  #light {
    background: url("../public/assets/images/pattern-background-mobile-light.svg");
    background-color: var(--light-grey);
  }

  main,
  #dark {
    background: url("../public/assets/images/pattern-background-mobile-dark.svg");
    background-color: var(--dark-navy);
  }

  .main-heading {
    font-size: 4.8rem;
  }

  .theme-mood-box {
    margin-bottom: 6.4rem;
  }

  .heading-box {
    margin-bottom: 4rem;
  }

  .topic {
    font-size: 2rem;
    padding: 1.2rem 0 1.2rem 1.2rem;
  }

  .answers {
    font-size: 1.8rem;
  }

  .option {
    font-size: 2rem;
    padding: 1.2rem 0 1.2rem 1.2rem;
  }

  .current-topic {
    font-size: 2rem;
  }

  .question-box {
    margin-bottom: 4rem;
  }

  .question {
    font-size: 3rem;
    margin-bottom: 2.4rem;
  }

  .btn {
    padding: 1.9rem 0;
    font-size: 1.8rem;
  }

  #light .finish-topic-name {
    font-size: 2rem;
  }

  #dark .finish-topic-name {
    font-size: 2rem;
  }

  .finish-heading {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .score-box {
    padding: 3.2rem;

    margin-bottom: 1.2rem;
  }

  .points {
    font-size: 8.8rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
  }

  .total-questions {
    font-size: 1.8rem;
  }

  .finish-title {
    font-size: 2.4rem;
    font-weight: 500;
  }

  .finish-topic {
    margin-bottom: 1.6rem;
  }
}
